.sidebar{

width:230px;

height:calc(100vh - 70px);

background:#f4f4f4;

padding:20px;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

padding:15px;

cursor:pointer;

border-radius:8px;

margin-bottom:10px;

}

.sidebar li:hover{

background:#0d6efd;

color:white;

}
.active{

    color:white;

    background:#0d6efd;

    padding:10px;   

    border-radius:6px;

    text-decoration:none;

}